html, body, #main {
    height: 100vh;
    width: 100vw;
}

.chat-nav {
    align-items: center !important;
}
.chat-nav-icon{
    margin-right: 8px;
}

.dropdown-menu{
    width: 70px
}

.chat-nav-dropdown-menu .dropdown-item {
    padding: 0.2rem 0.8rem !important;
    font-size: 0.9rem !important;
}

.chat-nav-dropdown-item-title {
    font-weight: bold!important
}

.chat-main-container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 58px);
    min-width: 100vw;
    overflow-y: hidden;
}

@media (max-width: 767px) {
    .chat-users {
        display: none;
    }
    .chat-messenger{
        width: 100vw !important;
    }
    .chat-dictionary{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .chat-users {
        width: 15vw;
        border-right: 1px solid #e1e1e1aa
    }
    .chat-messenger{
        width: 45vw;
        border-right: 1px solid #e1e1e1aa
    }
    .chat-dictionary{
        width: 40vw;
    }
}
@media (min-width: 1025px) {
    .chat-users {
        width: 10vw;
        border-right: 1px solid #e1e1e1aa
    }
    .chat-messenger{
        width: 50vw;
        border-right: 1px solid #e1e1e1aa
    }
    .chat-dictionary{
        width: 40vw;
    }
}

.chat-users-title {
    font-weight: bold; 
    font-size: 1.2 em; 
    margin-bottom: 5px;
}

.chat-messenger {
    display: flex;
    flex-direction: column;
}

.messages-container{
    position: relative;
    overflow: scroll;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.message-name{
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 2px;
    margin-top: 2px
}

.message-content{
    font-size: 1rem;
    padding: 12px;
    line-height: 1.4rem;
    position: relative;
}

.message-meta {
    font-size: 0.6rem;
    line-height: 1.4rem;
    position: relative;
}

.message-left {
    display: block;
    text-align: left;
    align-self: flex-start;
    max-width: 42rem;
}

.message-left .message-content {
    background: #ebebeb !important;
    color: #333333;
    border-radius: 8px 8px 8px 0;
    margin-right: 1rem
}

.message-right {
    display: block;
    text-align: right;
    align-self: flex-end;
    max-width: 42rem;
}

.message-right .message-content {
    background: #84bfc9 !important;
    color: #ffffff;
    border-radius: 8px 8px 0px 8px;
    margin-left: 1rem;
}

.compose-form {
    margin-top: auto; 
}

.compose-form-row {
    flex-wrap: nowrap !important;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

.compose-form-row button {
    margin-left: 0.5rem;
    margin-top: auto;
}